<div class="layout-2">
    <div class="heading">
        <div class="section {SectionClass}">
            {Section}
        </div>
        <div class="pageNum">
            {pageNum}
        </div>
    </div>
    <div class="contents">
        <div class="contents-left">
            {Features}
            {NewsReview}
            {ResearchReview}
        </div>
        <div class="contents-right">
        	{IndustryAnalysis}
            {MEMSNews}
        </div>
    </div>
</div>