.frontcover {
	
}
.contents {
	
}
.executive-view {
	
}
.news-review {
	color:#FF3F36 !important;
}
.features {
	color:#42AAFF !important;	
}
.industry-analysis {
	color:#F5E413 !important;	
}
.mems-review {
	color:#4AB22F !important;
}
.research-review {
	color:#9945E8 !important;
}

.news-review-bg {
	background:#FF3F36 !important;
}
.features-bg {
	background:#42AAFF !important;	
}
.industry-analysis-bg {
	background:#F5E413 !important;	
}
.mems-review-bg {
	background:#4AB22F !important;
}
.research-review-bg {
	background:#9945E8 !important;
}